# Importing Libraries

In [22]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data [Step 1]

In [23]:
# Creating a path
path = r'C:\Users\duongxma\Dropbox\CareerFoundry - Data Analytics\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [24]:
# Import order_products__prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [25]:
# Import orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

# [Step 2]

In [26]:
# Review what's in the df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [27]:
# Review what's in df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [28]:
# Drop the Unnamed: 0 column from the dataframe
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [29]:
# Get df_ords_prior's dimensions
df_ords_prior.shape

(32434489, 4)

In [30]:
# Get df_ords's dimensions
df_ords.shape

(3421083, 7)

In [31]:
# Merge df_ords and df_ords_prior
df_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [33]:
# Review the new merged file
df_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [34]:
# Check value counts for '_merge' column
df_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [36]:
# Export df_merged_large as .pkl
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))